<html>
<body>
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="style.css" type="text/css">
            <title>myFirstTradingBot</title>
    </head>
      
    <h1> Check realtimeMethods</h1>
    <div class='side_wrapper'>
        <div class='map_wrapper'>
            <table id = 'status'> </table>
        </div>
        <div class='map_wrapper'>
        <table border="1" cellspacing="0">
            <tr style = 'font-size:20px'><td>worker 0</td><td id='worker_0'></td><td id='worker_isDone_0'></td></tr>
            <tr style = 'font-size:20px'><td>worker 1</td><td id='worker_1'></td><td id='worker_isDone_1'></td></tr>
            <tr style = 'font-size:20px'><td>worker 2</td><td id='worker_2'></td><td id='worker_isDone_2'></td></tr>
            <tr style = 'font-size:20px'><td>worker 3</td><td id='worker_3'></td><td id='worker_isDone_3'></td></tr>
            <tr style = 'font-size:20px'><td>worker 4</td><td id='worker_4'></td><td id='worker_isDone_4'></td></tr>
            <tr style = 'font-size:20px'><td>worker 5</td><td id='worker_5'></td><td id='worker_isDone_5'></td></tr>
            <tr style = 'font-size:20px'><td>worker 6</td><td id='worker_6'></td><td id='worker_isDone_6'></td></tr>
        </table>
        </div>
    </div>
    <p id="progress"></p>
    <p id="vol24"></p>
    <p id="in_write"></p>
    <script src="bundle.js"></script>
</body>
</html>
